.grid{
    display: grid;
    grid-template-columns: 2rem 100px repeat(2,  minmax(200px,1fr)) 50px ;
    background-color: dimgray;
    gap: 10px;

}
.item{
    background-color: goldenrod;
}
.grid1{
    display: grid;
    grid-template-columns: 200px 300px auto ;
    background-color: rgb(167, 202, 248);
    gap: 10px;
    grid-template-rows: 200px;
}
.itemus1{
    background-color: green;
}
.itemus2{
    background-color: rgb(128, 0, 100);

}
.itemus3{
    background-color: rgb(115, 128, 0);
}
.grid100{
    height: 50vh;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr ;
    grid-template-rows: 2fr 4fr 0.5fr 2fr;
    background-color: rgb(167, 202, 248);
    gap: 10px;
    /* grid-template-rows: 200px; */
}
.item100{
    background-color: hotpink;
}