.about{
    /* margin: 0 10%; */
}
p{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2rem;
}
.tema1png {
width: 400px;
height: 400px;
box-shadow: 1px 0px 60px gray;
}
.tema1png img{
width: 100%;
height: 100%;
object-fit: cover;
}
.products{
    display: flex;
    justify-content: space-between;
    /* padding: auto; */
    /* height: 100vh; */
    /* overflow: hidden; */
    /* margin-top: 10%; */
}
.tema1{
width: 500px;
}
section:not(:last-child){
    margin: 3% 10%;
}
.product2{
    flex-direction: row-reverse;
}