header {
    background:url(cover-hero.jpg)  no-repeat;
    height: 100vh;
    width: 100%;
  }
  
  .navbar {
    height: 50px;
    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    width: 100%;
  }
  .navbar-wrapper img{
      height: 90%;
  }
  .navbar-wrapper {
    width: 70%;
    margin: 0 auto;
    /* background-color: chartreuse; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .links-container a/*:not(:last-child)*/ { 
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }