
  h1{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: italic;
      font-weight: 800;
      color:rgb(0, 0, 0, 0.7);
  }
  
 
  
  .content-block {
    position: absolute;
    top: 30%;
    left: 60%;
  }
 /* main{
    background-color: blanchedalmond;
 } */
 body{
     background-color: rgb(226, 226, 226);
 }
