*{
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 221, 221);
}
img{
    width: 15%;
    height: 15%;
    /* margin-top: 10px; */
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 10px 10px gray;

}
a{
    text-decoration: none;
    padding: 10px;
}
td{
    border-bottom: 1px solid black;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 10px 10px gray;
    border-radius: 10px;
    text-align: center;
}
footer{
    text-align: center;
}
table{
    width: 100%;
}
h1{
    text-align: left;
}
@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5%;
    }
    img{
        margin-right: 60%;
    }
}