*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    width: 770px;
    height: 250px;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(1, 1fr);
    background-color: dimgray;
    gap: 10px;
    margin: 50vh auto;
    transform: translate(0,-50%);
}
.gridus{
    background-color: goldenrod;
    display: grid;
}
.gridus1{
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    background-color: rgb(113, 32, 218);
    gap: 10px;
    margin: 10px;
    padding: 10px;

}
.gridus2{
    grid-template-columns:repeat(5, 1fr);
    background-color: rgb(32, 218, 79);
    gap: 10px;
    margin: 10px;
    padding: 10px;

}
.gridus3{
    grid-template-columns:3fr 1fr 2fr 2fr 1fr 3fr;
    grid-template-rows:repeat(4, 1fr);
    background-color: rgb(218, 32, 110);
    gap: 10px;
    margin: 10px;
    padding: 10px;
}
.item{
    background-color: black;
}
.a-item2{
    grid-column: 2 / 4;
}
.a-item3{
    grid-column: 1 / 3;
}
.a-item6{
    grid-column: 2 / span 2;
}

.c-item1,.c-item8 {
    grid-column: 1 / span 2;
}
.c-item2,.c-item9{
    grid-column: 3 / span 2;
}
.c-item3,.c-item10{
    grid-column: 5 / span 2;
}

.c-item5,.c-item12 {
    grid-column: 2 / span 2;
}
.c-item6,.c-item13{
    grid-column: 4 / span 2;
}
