*{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.flex-bw-xy{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-xy{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: thistle;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    height: 100px;
    margin: 0 auto;
    background: linear-gradient( to right, rgb(138, 0, 0), rgb(0, 0, 124));
    box-shadow: 10px 0px 10px;
}
img{
    width: 40%;
    
}
.header__logo{
    width: 300px;
    height: 100%;
}
.header__search{
    width: 300px;
}
input{
    background: url(loupe.svg) no-repeat, white;
    background-position: 90% 50%;
    background-size: 15px;
    border-radius: 20px;
    padding: 5px;
}
.container{
    margin: 0 auto;
    width: 50%;
    background-color: yellow;
    padding: 100px;
}
.grid{
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}