*{
    box-sizing: border-box;
    color: white;
}
.grid{
    display: grid;
    width: 400px;
    height: 300px;
    /* grid-template-columns:repeat(4, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-areas:
    "red green green green"
    "red . blue violet"
    "yellow yellow blue violet"

    ;
    background-color: dimgray;
    gap: 3px;
    margin: 50vh auto;
    transform: translate(0,-50%);
}

.item{
    background-color: black;
}
.item1,.item2{
    grid-area: red;
    background-color: red;
}
.item3,.item4,.item5{
    background-color: green;
    grid-area: green;
}
.item6,.item7{
    background-color: yellow;
    grid-area: yellow;
}
.item8,.item9{
    background-color: blue;
    grid-area: blue; 
}
.item10,.item11{
    background-color: violet;
    grid-area: violet;
}

