/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------VAR---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
:root{
    --lightviolet:#bd72ef;
    --darkblue:rgb(29, 29, 90);
    --blue:rgb(17, 17, 187);
    --white-blue:rgb(96, 96, 124);
    --silver:rgb(196, 196, 196);
    --footer-black:rgb(59, 59, 59);
}
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------ALL ELEMENTS---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    transition: 500ms;
}
body{
    background:  #3b065e;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
a{
    color: rgb(77, 49, 49);
}
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------HEADER---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.header i{
    font-size: 40px;
    padding: 10px;
}

/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------MAIN---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
.grid{
    width: 80%;
    margin: 0 auto;
    /* height: 1000px; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
.item{
    text-align: left;
}
.item1{
    background: white;
    padding: 30px 10px;
}
.item1 a{
    color: gray;
    padding: 10px;
    background-color: honeydew;
}
.item1 p{
    padding: 20px 0;
}
.item2{
    
}
.item3{
    background: var(--lightviolet);
    padding: 10px;
    color: white;
}
.item4{
    
}

.btn{
    padding: 10px;
    background-color: white;
    color: var(--darkblue);
    font-weight: 900;
    border-radius: 3px;
}
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------FOOTER---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
footer{
    background-color: var(--footer-black);
    text-align: center;
    padding: 10px;
    color: var(--silver);
}

footer a{
    text-decoration: underline;
}
footer p{
    padding: 30px 10px;
}

/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------TABLET---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
@media screen and (min-width:768px) {
    .header i{
        font-size: 30px;
    }
}

/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */
    /* \\\\\\\\\\\----------DESKTOP---------//////////// */
/* |/////////////////-------------------\\\\\\\\\\\\\\\\\\\| */@media screen and (min-width:1200px) {
    .header i{
        font-size: 20px;
    }
}