.grid{
    display: grid;
    height: 50vh;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(2, 1fr);
    background-color: dimgray;
    gap: 10px;

}
.item{
    background-color: goldenrod;
}
.item1{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}
.item2{
    grid-column: 3 / 5;
}
.flex-xy{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.flex-yx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hotpink;
    
    width: 300px;
}
.black{
    background-color: black;
    height: 500px;
}
.red{
    background-color: red;
    width: 500px;
    height: 400px;
    gap: 10px;
}
.blue{
    background-color: blue;
    height: 200px;
    width: 100%;
}
.green{
    background-color: lawngreen;
    height: 100%;
    width: 100%;
}