.center{
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    border:5px solid orange;
}
.overflow-hidden{
overflow: hidden;
}
.overflow-scroll{
overflow: scroll;
}
p{
    border: 1px solid red;
    height: 200px;
    margin-bottom: 50px;
}
.overflowing{
    height: 500px;
    /* overflow: hidden; */
    overflow: scroll;
}