.bg{
    /* width: 100%; */
    height: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: 1px 0px 10px black;
    border: 1px solid black;
}
.bg-1{
   background-color: rgba(20, 40, 60); 
}

.bg-2{
    background-color: rgba(20, 40, 60, 0.5); 
 }

 .bg-3{
background: linear-gradient(to right, rgba(0, 255, 30, 0.3), rgba(255 ,0 , 30, 1));
 }

 .bg-4{
    background: radial-gradient( rgba(255 ,0 , 30, 1), rgba(0, 255, 30, 0.5));
}
.bg-5{
    background: url(https://www.sammobile.com/wp-content/uploads/2019/03/keyguard_default_wallpaper_silver.png)  no-repeat center;
    background-size: cover;
}
.bg-6{
    background: url(https://www.sammobile.com/wp-content/uploads/2019/03/keyguard_default_wallpaper_silver.png)  no-repeat fixed;
    background-size: cover;
}
h1{
    /* display: block; */
    text-align: center;
    /* width: 150px; */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0px auto;
    /* padding: auto 0; */
}