*{
    box-sizing: border-box;
    color: white;
}
.grid{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns:2fr 3fr 5fr 1fr 2fr;
    grid-template-rows: 3fr 1fr 4fr 2fr 3fr 1fr 2fr;
    background-color: dimgray;
    gap: 10px;
    margin: 50vh auto;
    transform: translate(0,-50%);
}

.item{
    background-color: black;
}
.item11{
    grid-area: 3/1/5/2;
}
.item12{
    grid-area: 3/2/6/3;
}
.item15{
    grid-area: 3/5/6/6;
}
.item17{
    grid-area: 4/3/6/4;
}
.item18{
    grid-area: 4/4/6/5;
}
.item20{
    grid-area: 6/2/7/4;
}
