/* Standard layoout */
*{
    box-sizing: border-box;
    transition: 750ms;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
}
.logo{
    padding: 10px;
    background-color: greenyellow;
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
}
a{
    color: rgb(61, 61, 61);
    text-decoration: none;
}
.logo img{
    width: 100%;
    height: 50px;
    object-fit: contain;
    padding: 10px;
    background-color: seashell;
}
ul{
    margin: 0;
    padding: 0;
    background-color: salmon;
    
}
.links{
    list-style: none;
    padding: 10px;
    
}
.photo{
    background-color: rgba(138, 43, 226, 0.8);
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
}
.photo p{
    padding: 40px;
    
}

.img2{
    background-color: yellowgreen;
}
.photo img, .img{
    padding: 25px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.photo img{
    background-color: violet;
}
.button{
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgba(255, 255, 255,0.8);
    
}
.card__text{
    padding: 10px;
    background-color: yellowgreen;
}
.card__text h3,.card__text p{
    margin: 10px;
}

.about{
    background-color: turquoise;
    padding: 10px 0;
}
.line{
    height: 1px;
    width: 80%;
    background-color: blueviolet;
    margin: 25px auto;
    padding: 0;
    
}
.info{
    margin:0 10px 10px 10px;
    background-color: white;
    padding: 5px;
}
.info__text *, .info__text-bottom, .info__check, .info__info{
    padding:10px 25px;
}
.info__check{
    position: relative;
    padding-left: 40px;
}
i{
    color: chartreuse;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translate(0,-50%);
}
.red{
    background-color: red;
    width: 75px;
    height: 75px;
    margin: 25px;
}
.info__info{
    width: 50%;
    vertical-align: middle;
}
.info__info, .red{
    display: inline-block;
}
.footer *:not(.line){
    padding: 5px;
    /* margin: 2px; */
}
footer{
    background-color: crimson;
    padding: 10px 0;
}
.footer{
    background-color: silver;
    margin: 10px;
    
}
.footer6{
    text-align: center;
}
/* Breakpoint 1 */
@media screen and (min-width: 769px){
    .flex-bw-xy{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .logo{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 10%;
    }
    ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: salmon;
        
    }
    li{
        padding: 10px ;
    }
    .photo{
        background-color: rgba(138, 43, 226, 0.7);
    }
    .photo p{
        background-color: yellow;
        margin-bottom: 30px;
    }
    .card__text h3,.card__text p{
        margin: 15px;
    }
    .card__text{
        padding: 5px;
        background-color: rgb(50, 205, 128);
    }
    .half{
        width: 50%;
    }
    .flex{
        display: flex;
        justify-content: center;
        
    }
    .info1{
        width: 100%;
    }
    .info2{
        width: 50%;
    }
    .info3{
        width: 50%;
    }
    
    .footer{
        background-color: crimson;
    }
    footer{
        background-color: silver;
    }
    .footer__flex-t{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer2, .footer3, .footer4, .footer5{
        width: 25%;
    }
}

/* Breakpoint 2 */
@media screen and (min-width: 1024px){
    .flex-bw-xy{
        flex-wrap: nowrap;
    }
    .logo{
        padding: 20px;
    }
    .logo img{
        width: 20%;
    }
    ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: rgb(255, 44, 21);
        transition: 500ms;
    }
    li{
        padding: 15px ;
    }
    a{
        color: black;
    }
    .photo{
        background-color: rgba(138, 43, 226, 0.9);
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: row-reverse;
        align-items: center;
    }
    .proc{
        width: 50%;
    }
    .photo p{
        background-color: sandybrown;
    }
    .card__text h3,.card__text p{
        margin: 20px;
    }
    .card__text{
        padding: 25px;
        background-color: rgb(161, 50, 205);
    }
    .half{
        width: 25%;
    }
    .about{
        display: flex;
    }
    .info1{
        width: 33%;
    
    }
    .flex{
        width: 66%;
    }
    
    .footer {
        background-color: skyblue;
    }
    footer{
        background-color: springgreen;
    }
    .footer__flex-d{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
    }
    .footer__flex-t{
        width: 80%;
    }
    .footer1{
        width: 20%;
    }
}
