.header{
    height: 50px;
    width: 100%;
    /* text-align: right; */
    /* padding-right: 15%; */
    background: rgb(0,0,0,0.8);
    position: fixed;
    top:0;
    z-index: 1;
}
nav{
    display: inline-block;
}

ul{
    display: inline-block;
    /* text-align: right; */
    position: fixed;
    right: 10%;
    top: 0;
    outline: none;
    margin: 0;;
}
a, li{
    outline: none;
    text-decoration: none;
    transition: 300ms;
    display: inline-block;
}
a:hover{
    outline: none;
    text-decoration: none;
    transition: 300ms;
    transform: scale(1.1);
    font-size: 17px;

}
.btn{
    color: white;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
}
