
main{
    width: 100%;
}
.background{
    width: 100%;
}
.background-pencil{
    width: 30%;
    right:0;
    bottom: 0;
}
img{
    position: relative;
}
.logo{
    height: 40px;
    left: 10%;
    top: 5px;
    position: fixed;
}
.text{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(39, 39, 39,0.8);
    left: 50%;
    top: 20%;
    font-style: italic;
}
.btn button:not(last-child){
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background: linear-gradient(rgba(173, 173, 1, 0.733),rgb(90, 90, 0));
    left: 300%;
    top: 300px;
    padding: 7px;
    border-radius: 5px;
    border-radius: 1px solid black;
    outline: unset;
    overflow: unset;

}
.btn button:last-child{
    background: linear-gradient(rgba(114, 134, 161, 0.733),rgb(36, 56, 80));
}
