* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}
body {
  background: #000;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%hover {
  &:hover {
    color: yellow;
    border: 1px solid yellowgreen;
  }
}
.navbar {
  font-family: "Courier New", Courier, monospace;
  @extend %flex-between;
  &__logo {
    font-size: 30px;
    img {
      width: 100px;
    }
  }

  &__links {
    font-size: 20px;
    @extend %flex-center;
    gap: 20px;
    li {
      border: 1px solid rgb(0, 0, 0);
      @extend %hover;
    }
  }
}
.container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @extend %flex-between;
  &__form {
    @extend %flex-center;
  }
}
footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
