/* ----- ---------- ----- */
/* ----- Desktop ----- */
/* ----- ---------- ----- */
@media screen and (min-width: 768px) {
  .navbar,
  .team-info,
  .footer-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .team-info {
    position: relative;
  }
  .img-block {
    position: absolute;
    bottom: 72.5%;
    left: 2.5%;
  }
  .team-info__text {
    padding-top: 16%;
  }
  img {
    width: 230px;
    height: 230px;
  }
  .team-info__contacts,
  .lisa,
  .danielle,
  .footer-container,
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .team-info__contacts,
  .team-info__contacts-text {
    padding: 0 10px;
  }
  .navbar {
    width: 90%;
    margin: 0 auto;
  }
  .yellow-welcome-box {
    padding: 42vh 0;
  }
}
