/* ----- ---------- ----- */
/* ----- Variables ----- */
/* ----- ---------- ----- */
:root {
  --gray-footer: rgb(63, 63, 63);
  --gray-navbar: rgb(112, 112, 112);
  --gray-text: rgb(31, 31, 31);
  --yellow: rgb(255, 238, 0);
  --white: rgb(220, 224, 255);
}

/* ----- ---------- ----- */
/* ----- ALL ELEMENTS ----- */
/* ----- ---------- ----- */
* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

/* ----- ---------- ----- */
/* ----- Navbar ----- */
/* ----- ---------- ----- */
header {
  background-color: var(--gray-navbar);
}
.navbar__logo {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.navbar__search input {
  padding: 5px;
  background: url(1.svg) no-repeat 2%;
  background-color: white;
  background-size: 14px 14px;
}
input[type="text"] {
  padding-left: 20px;
  text-align: left;
}
.navbar__logo,
.navbar__search {
  padding: 15px;
}
/* ----- ---------- ----- */
/* ----- Main ----- */
/* ----- ---------- ----- */

/* ----- Yellow Info Text Section ----- */
.yellow-welcome-box {
  background: url(https://www.crushpixel.com/big-static18/preview4/toned-yellow-wooden-texture-background-2912999.jpg)
    no-repeat center;
  background-size: cover;
  padding: 200px 0;
}
h1 {
  color: var(--gray-navbar);
}

/* ----- Team Info Section ----- */

/* Team Info IMG */

.img-block {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
}
img {
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(100%);
}

/* Team Info TEXT and Team Info CONTACTS*/

h2,
h3 {
  color: var(--yellow);
}
.team-info__text p,
.lisa,
.danielle {
  margin: 3vh 0;
  color: var(--gray-text);
}
h3 {
  padding: 10px 0;
}
/* ----- Yellow Line ----- */

.yellow-line {
  height: 2vh;
  background-color: var(--yellow);
}

/* ----- ---------- ----- */
/* ----- Footer ----- */
/* ----- ---------- ----- */
footer {
  background-color: var(--gray-footer);
  color: white;
}
.footer-container {
  padding: 0 20px;
}
.footer-container__item {
  padding: 2vh 0;
}
.footer-container__item p {
  padding: 2px 0;
}

/* ----- ---------- ----- */
/* ----- END ----- */
/* ----- ---------- ----- */
